### Year 3 Topology 4 Contingency Analysis Reporting - Overloading

In [1]:
import pandas as pd
import numpy as np

#### Overload Data

In [2]:
list_flow = []
list_gens = [0,50,100]
list_lsc = ['lls','rls','hls']
list_gen_hydro = [400,500,600] 
for gen in list_gens:
    for lsc in list_lsc:
        for gen_hy in list_gen_hydro:
            file_out = 'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +'_' + str(lsc)+'.xlsx'
            data_flow = pd.read_excel(file_out, sheet_name='Branch Flow')
            data_f_nonan = data_flow.dropna(how='all').reset_index(drop=True)
            data_f_nonan['Scenario']= 'Solar = ' + str(gen) + ' MW, ' +'Hydro = ' +str(gen_hy) +' MW, ' + lsc.upper()
            list_flow.append(data_f_nonan)
data_f = pd.concat(list_flow).reset_index(drop=True)
# branches loaded greater than 100% of their rating
bran_flow_load = data_f[data_f['% FLOW']>100].reset_index(drop=True)
print(len(bran_flow_load))
display(bran_flow_load.head())

403

,BRANCH,CONTINGENCY,MVAFLOW,AMPFLOW,RATE RATE1/RATE2,% FLOW,Unnamed: 6,Scenario
0,3001 MINE 230.00 3003 S. MI...,SING OPN LIN 1 101-151(1),327.313324,318.790771,300.0,106.263590,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
1,3001 MINE 230.00 3003 S. MI...,SING OPN LIN 1 101-151(1),327.313324,318.790771,300.0,106.263590,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
2,101 NUC-A 21.600 151 NUCPA...,SING OPN LIN 2 102-151(1),1397.179443,1397.179565,1350.0,103.494783,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
3,154 DOWNTN 230.00 203 EAST2...,SING OPN LIN 6 152-153(1),280.117645,289.302429,250.0,115.720972,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
4,154 DOWNTN 230.00 205 SUB23...,SING OPN LIN 6 152-153(1),672.119751,694.157959,660.0,105.175448,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"

#### Getting the nonconverged contingencies for each scenario

In [3]:
list_sum = []
list_gens = [0, 50, 100]
list_lsc = ['lls','rls','hls']
list_gen_hydro = [400, 500, 600] 
for gen in list_gens:
    for lsc in list_lsc:
        for gen_hy in list_gen_hydro:
            file_out = 'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +'_' + str(lsc)+'.xlsx'
            data_flow = pd.read_excel(file_out, sheet_name='Branch Flow')
            data_f_nonan = data_flow.dropna(how='all').reset_index(drop=True)
            data_f_nonan['Scenario']= 'Solar = ' + str(gen) + ' MW, ' +'Hydro = ' +str(gen_hy) +' MW, ' + lsc.upper()
            data_summary = pd.read_excel(file_out, sheet_name='Summary')
            data_summary_nonan = data_summary.dropna(how='all').reset_index(drop=True)
            data_cont = data_summary_nonan.loc[143:151].reset_index(drop=True)
            # extracting all the tested contingencies 
            tested_conts = list(data_cont['ACCC SOLUTION SUMMARY'])
            ans_list = "".join(tested_conts)
            cont_tested = ans_list.split(',')
            cont_test = [s.strip() for s in cont_tested]
            # extracting contingencies for the studied scenario
            scen_cont = data_f_nonan['CONTINGENCY'].unique()
            # blown up scenarios 
            scenario = 'Solar = ' + str(gen) + ' MW, ' + lsc.upper()
            list_blown = ', '.join(list(set(cont_test)-set(scen_cont)))
            print(f'For the studied scenario, {scenario}, the tested contingencies {list_blown} did not converge')

For the studied scenario, Solar = 0 MW, LLS, the tested contingencies BUS 154, BUS 152, BUS 201, BUS 151 did not converge
For the studied scenario, Solar = 0 MW, LLS, the tested contingencies BUS 152, BUS 201, BUS 151 did not converge
For the studied scenario, Solar = 0 MW, LLS, the tested contingencies BUS 201, BUS 204, BUS 152, BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 0 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 152, UNIT 206(1), BUS 151 did not converge
For the studied scenario, Solar = 0 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 0 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 0 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 0 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 0 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), SING OPN LIN   10 201-202(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 50 MW, LLS, the tested contingencies BUS 154, BUS 152, BUS 201, BUS 151 did not converge
For the studied scenario, Solar = 50 MW, LLS, the tested contingencies BUS 152, BUS 201 did not converge
For the studied scenario, Solar = 50 MW, LLS, the tested contingencies BUS 201, BUS 204, BUS 152, BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 50 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 152, UNIT 206(1), BUS 151 did not converge
For the studied scenario, Solar = 50 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 50 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 50 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 50 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 50 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 100 MW, LLS, the tested contingencies BUS 154, BUS 152, BUS 201, BUS 151 did not converge
For the studied scenario, Solar = 100 MW, LLS, the tested contingencies BUS 152, BUS 201 did not converge
For the studied scenario, Solar = 100 MW, LLS, the tested contingencies BUS 201, BUS 204, BUS 152, BUS 205, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 100 MW, RLS, the tested contingencies BUS 152, BUS 201, BUS 151 did not converge
For the studied scenario, Solar = 100 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 100 MW, RLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 100 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 100 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge
For the studied scenario, Solar = 100 MW, HLS, the tested contingencies SING OPN LIN   20 205-206(1), BUS 201, BUS 204, BUS 152, UNIT 206(1), BUS 205, BUS 151, BUS 202, SING OPN LIN   11 201-204(1) did not converge

Getting blown up count per scenario

In [4]:
list_sum = []
list_blown = []
list_gens = [0,50,100]
list_lsc = ['lls','rls','hls']
list_gen_hydro = [400,500,600] 
for gen in list_gens:
    for lsc in list_lsc:
        for gen_hy in list_gen_hydro:
            file_out = 'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +'_' + str(lsc)+'.xlsx'
            data_flow = pd.read_excel(file_out, sheet_name='Branch Flow')
            data_f_nonan = data_flow.dropna(how='all').reset_index(drop=True)
            data_f_nonan['Scenario']= 'Solar = ' + str(gen) + ' MW, ' +'Hydro = ' +str(gen_hy) +' MW, ' + lsc.upper()
            data_summary = pd.read_excel(file_out, sheet_name='Summary')
            data_summary_nonan = data_summary.dropna(how='all').reset_index(drop=True)
            data_cont = data_summary_nonan.loc[143:151].reset_index(drop=True)
            # extracting all the tested contingencies 
            tested_conts = list(data_cont['ACCC SOLUTION SUMMARY'])
            ans_list = "".join(tested_conts)
            cont_tested = ans_list.split(',')
            cont_test = [s.strip() for s in cont_tested]
            # extracting contingencies for the studied scenario
            scen_cont = data_f_nonan['CONTINGENCY'].unique()
            # blown up scenarios 
            
            scenario = 'Solar = ' + str(gen) + ' MW, ' +'Hydro = ' +str(gen_hy) +' MW, ' + lsc.upper()
            
            blown_cont = list(set(cont_test)-set(scen_cont))
            list_blown.extend(blown_cont)

##### Count of scenarios for which tested contingency failed to converge

In [5]:
from collections import Counter
data = list_blown
counts = Counter(data)
df = pd.DataFrame(list(counts.items()),columns = ['Contingency','Count of Scenarios']).sort_values(by='Count of Scenarios', ascending=False)
display(df)

                     Contingency  Count of Scenarios
1                        BUS 152                  27
2                        BUS 201                  27
3                        BUS 151                  24
4                        BUS 204                  18
7   SING OPN LIN   11 201-204(1)                  18
6                        BUS 202                  17
8   SING OPN LIN   20 205-206(1)                  17
9                    UNIT 206(1)                  17
5                        BUS 205                  14
0                        BUS 154                   3
10  SING OPN LIN   10 201-202(1)                   1

#### Branch loading data wrangling

In [6]:
bran_overload = bran_flow_load.rename(columns={'BRANCH':'Branch',
                                        'CONTINGENCY':'Contingency',
                                        'MVAFLOW': 'MVA Flow',
                                        'AMPFLOW':'AMP Flow',
                                        'RATE RATE1/RATE2':'Rate', 
                                        '% FLOW':'Loading'})
bran_overload['Contingency'] = bran_overload['Contingency'].str.replace('&','\&')
bran_overload['Branch'] = bran_overload['Branch'].str.replace('_','\_')

In [7]:
print(len(bran_overload))
display(bran_overload.head())

403

,Branch,Contingency,MVA Flow,AMP Flow,Rate,Loading,Unnamed: 6,Scenario
0,3001 MINE 230.00 3003 S. MI...,SING OPN LIN 1 101-151(1),327.313324,318.790771,300.0,106.263590,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
1,3001 MINE 230.00 3003 S. MI...,SING OPN LIN 1 101-151(1),327.313324,318.790771,300.0,106.263590,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
2,101 NUC-A 21.600 151 NUCPA...,SING OPN LIN 2 102-151(1),1397.179443,1397.179565,1350.0,103.494783,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
3,154 DOWNTN 230.00 203 EAST2...,SING OPN LIN 6 152-153(1),280.117645,289.302429,250.0,115.720972,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"
4,154 DOWNTN 230.00 205 SUB23...,SING OPN LIN 6 152-153(1),672.119751,694.157959,660.0,105.175448,NaN,"Solar = 0 MW, Hydro = 400 MW, LLS"

Overload violations

In [8]:
list_scen = list(bran_overload['Scenario'].unique())
branch_overload = bran_overload[['Scenario','Branch','Contingency','MVA Flow','AMP Flow','Rate','Loading']]

Unit Fault Contingency loading > 100% and loading > 130%

In [9]:
print('Unit Fault Contingency loading > 100% and loading > 130%')
print('--------------------------------------------------------------------------------------------------------------------------------')
for scen in list_scen:
    print(scen)
    bran_load_1 = branch_overload[branch_overload['Scenario'] == scen]
    bran_load = bran_load_1[['Branch','Contingency','MVA Flow','AMP Flow','Rate','Loading']]
    unit = bran_load[bran_load['Contingency'].str.contains('UNIT')].reset_index(drop=True)
    if len(unit) == 0:
        print(f'For the studied scenario {scen}, no overloading were reported due to a UNIT Fault')
    if(len(unit) != 0):
        unit_100 = unit[unit['Loading']>100]
        if(len(unit_100) != 0):
            list_ans_single = list([[int(s) for s in m.split() if s.isdigit()] for m in unit_100['Branch'].dropna().unique()])
            ans_single = ', '.join([(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_single])
            print(f'For the studied scenario {scen}, Loading of > 100% reported for branch(es) {ans_single}')
        unit_130 = unit[unit['Loading']>130]
        if(len(unit_130) != 0):
            list_ans_single = list([[int(s) for s in m.split() if s.isdigit()] for m in unit_130['Branch'].dropna().unique()])
            ans_single = ', '.join([(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_single])
            print(f'For the studied scenario {scen}, Loading of > 130% reported for branch(es) {ans_single}')
    print('--------------------------------------------------------------------------------------------------------------------------------')

Unit Fault Contingency loading > 100% and loading > 130%
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, LLS
For the studied scenario Solar = 0 MW, Hydro = 400 MW, LLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, LLS
For the studied scenario Solar = 0 MW, Hydro = 500 MW, LLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, LLS
For the studied scenario Solar = 0 MW, Hydro = 600 MW, LLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, RLS
For the studied scenario Solar = 0 MW, Hydro = 400 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, RLS
For the studied scenario Solar = 0 MW, Hydro = 500 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, RLS
For the studied scenario Solar = 0 MW, Hydro = 600 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, HLS
For the studied scenario Solar = 0 MW, Hydro = 400 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, HLS
For the studied scenario Solar = 0 MW, Hydro = 500 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, HLS
For the studied scenario Solar = 0 MW, Hydro = 600 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, LLS
For the studied scenario Solar = 50 MW, Hydro = 400 MW, LLS, no overloading were reported due to a UNIT Fault
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, LLS
For the studied scenario Solar = 50 MW, Hydro = 500 MW, LLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, LLS
For the studied scenario Solar = 50 MW, Hydro = 600 MW, LLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, RLS
For the studied scenario Solar = 50 MW, Hydro = 400 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, RLS
For the studied scenario Solar = 50 MW, Hydro = 500 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, RLS
For the studied scenario Solar = 50 MW, Hydro = 600 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, HLS
For the studied scenario Solar = 50 MW, Hydro = 400 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, HLS
For the studied scenario Solar = 50 MW, Hydro = 500 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, HLS
For the studied scenario Solar = 50 MW, Hydro = 600 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, LLS
For the studied scenario Solar = 100 MW, Hydro = 400 MW, LLS, no overloading were reported due to a UNIT Fault
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, LLS
For the studied scenario Solar = 100 MW, Hydro = 500 MW, LLS, no overloading were reported due to a UNIT Fault
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, LLS
For the studied scenario Solar = 100 MW, Hydro = 600 MW, LLS, no overloading were reported due to a UNIT Fault
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, RLS
For the studied scenario Solar = 100 MW, Hydro = 400 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 3003-3005(1), 3003-3005(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, RLS
For the studied scenario Solar = 100 MW, Hydro = 500 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, RLS
For the studied scenario Solar = 100 MW, Hydro = 600 MW, RLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, HLS
For the studied scenario Solar = 100 MW, Hydro = 400 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, HLS
For the studied scenario Solar = 100 MW, Hydro = 500 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, HLS
For the studied scenario Solar = 100 MW, Hydro = 600 MW, HLS, Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1)
--------------------------------------------------------------------------------------------------------------------------------

Bus Fault Contingency loading > 100% and loading > 130%

In [10]:
print('Bus Fault Contingency loading > 100% and loading > 130%')
print('--------------------------------------------------------------------------------------------------------------------------------')
for scen in list_scen:
    print(scen) 
    bran_load_1 = branch_overload[branch_overload['Scenario'] == scen]
    bran_load = bran_load_1[['Branch','Contingency','MVA Flow','AMP Flow','Rate','Loading']]
    bus = bran_load[bran_load['Contingency'].str.contains('BUS')].reset_index(drop=True)
    if len(bus) == 0:
        print(f'For the studied scenario {scen}, no overloading were reported due to a BUS Fault')
    if len(bus) != 0:
        bus_100 = bus[bus['Loading']>100]
        if(len(bus_100) != 0):
            list_ans_single = list([[int(s) for s in m.split() if s.isdigit()] for m in bus_100['Branch'].dropna().unique()])
            ans_single = ', '.join([(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_single])
            print(f'Loading of > 100% reported for branch(es) {ans_single}')
        bus_130 = bus[bus['Loading']>130]
        if(len(bus_130) != 0):
            list_ans_single = list([[int(s) for s in m.split() if s.isdigit()] for m in bus_130['Branch'].dropna().unique()])
            ans_single = ', '.join([(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_single])
            print(f'Loading of > 130% reported for branch(es) {ans_single}')
    print('--------------------------------------------------------------------------------------------------------------------------------')

Bus Fault Contingency loading > 100% and loading > 130%
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2), 153-3006(1), 3005-3006(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2), 153-154(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 153-154(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2), 153-154(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1), 153-154(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1), 153-154(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1), 203-205(1), 203-205(2), 153-154(1), 153-154(2), 153-154(3)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, LLS
Loading of > 100% reported for branch(es) 153-3006(1), 154-3008(1), 3001-3003(1), 3001-3003(2), 3001-3011(1), 3003-3005(1), 3003-3005(2), 3005-3006(1), 154-203(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1), 153-154(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 153-154(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2), 153-154(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1), 153-154(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2), 153-154(1), 153-154(2), 153-154(3)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, LLS
Loading of > 100% reported for branch(es) 153-3006(1), 154-3008(1), 3001-3003(1), 3001-3003(2), 3001-3011(1), 3003-3005(1), 3003-3005(2), 3005-3006(1), 154-203(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, LLS
Loading of > 100% reported for branch(es) 153-3006(1), 154-3008(1), 3001-3003(1), 3001-3003(2), 3001-3011(1), 3003-3005(1), 3003-3005(2), 3005-3006(1), 154-203(1), 153-154(1), 201-204(1)
Loading of > 130% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 153-3006(1), 3005-3006(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, RLS
Loading of > 100% reported for branch(es) 154-203(1), 153-154(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 153-154(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, HLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2), 153-154(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------

In [11]:
print('Single Line Open Contingency loading > 100% and loading > 130%')
print('--------------------------------------------------------------------------------------------------------------------------------')
for scen in list_scen:
    print(scen)
    bran_load_1 = branch_overload[branch_overload['Scenario'] == scen]
    bran_load = bran_load_1[['Branch','Contingency','MVA Flow','AMP Flow','Rate','Loading']]
    single = bran_load[bran_load['Contingency'].str.contains('SING OPN LIN')]
    if len(single) == 0:
        print(f'For the studied scenario {scen}, no overloading were reported due to a single line open Fault')
    if len(single) != 0:
        single_100 = single[single['Loading']>100]
        if len(single_100) != 0:
            list_ans_single = list([[int(s) for s in m.split() if s.isdigit()] for m in single_100['Branch'].dropna().unique()])
            ans_single = ', '.join([(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_single])
            print(f'Loading of > 100% reported for branch(es) {ans_single}')
        single_130 = single[single['Loading']>130]
        if len(single_130) != 0:
            list_ans_single = list([[int(s) for s in m.split() if s.isdigit()] for m in single_130['Branch'].dropna().unique()])
            ans_single = ', '.join([(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_single])
            print(f'Loading of > 130% reported for branch(es) {ans_single}')
    print('--------------------------------------------------------------------------------------------------------------------------------')

Single Line Open Contingency loading > 100% and loading > 130%
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, LLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, LLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 203-205(1), 203-205(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, LLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2), 201-204(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 400 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 500 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 0 MW, Hydro = 600 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1), 154-205(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, LLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 154-203(1), 203-205(1), 203-205(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, LLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 400 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 500 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 50 MW, Hydro = 600 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 3003-3005(1), 3003-3005(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2), 201-204(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, LLS
Loading of > 100% reported for branch(es) 154-203(1), 203-205(1), 203-205(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1), 3003-3005(1), 3003-3005(2)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, RLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 203-205(1), 203-205(2)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 400 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 500 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------
Solar = 100 MW, Hydro = 600 MW, HLS
Loading of > 100% reported for branch(es) 3001-3003(1), 3001-3003(2), 101-151(1), 154-203(1), 154-205(1), 203-205(1), 203-205(2), 201-204(1)
Loading of > 130% reported for branch(es) 154-203(1)
--------------------------------------------------------------------------------------------------------------------------------

Branch Overload Summary - grouped by Scenario and Contingency - Branch Overload Chapter

In [12]:
data_fil_overload = bran_overload[['Scenario', 'Branch', 'Contingency']].drop_duplicates()
list_ans_bran = list([[int(s) for s in m.split() if s.isdigit()] for m in data_fil_overload['Branch'].dropna().unique()])
bran_new = [(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_bran]
bran_replace = data_fil_overload['Branch'].unique()
overload_new = data_fil_overload.replace(to_replace=bran_replace, value=bran_new)
# getting the count of overload
pivot_table_overload = pd.DataFrame(pd.pivot_table(data_fil_overload, index= ['Scenario','Contingency'],values = 'Branch', aggfunc='count').to_records())

In [13]:
# getting the list of branch overload 
pivot_overload = pd.DataFrame(pd.pivot(overload_new, index= ['Scenario','Contingency'], columns = 'Branch',values = 'Branch').to_records())
print(pivot_overload.columns)
pivot_overload['Branches'] = pivot_overload['101-151(1)'].astype(str).str.cat(pivot_overload[[ '153-154(1)', '153-154(2)',
       '153-154(3)', '153-3006(1)', '154-203(1)', '154-205(1)', '154-3008(1)',
       '201-204(1)', '203-205(1)', '203-205(2)', '3001-3003(1)',
       '3001-3003(2)', '3001-3011(1)', '3003-3005(1)', '3003-3005(2)',
       '3005-3006(1)']].astype(str), sep=',')
pivot_overload['Branches'] = pivot_overload['Branches'].str.replace(',nan','').str.replace('nan,','')
pivot_load = pivot_overload.drop(columns = list(overload_new['Branch'].unique()))

Index(['Scenario', 'Contingency', '101-151(1)', '153-154(1)', '153-154(2)',
       '153-154(3)', '153-3006(1)', '154-203(1)', '154-205(1)', '154-3008(1)',
       '201-204(1)', '203-205(1)', '203-205(2)', '3001-3003(1)',
       '3001-3003(2)', '3001-3011(1)', '3003-3005(1)', '3003-3005(2)',
       '3005-3006(1)'],
      dtype='object')

In [14]:
pivot_table_overload = pd.DataFrame(pd.pivot_table(data_fil_overload, index= ['Scenario','Contingency'],values = 'Branch', aggfunc='count').to_records())
pivot_table_load = pivot_table_overload.rename(columns = {'Branch':'Branch Count'})
df_load = pd.merge(pivot_load, pivot_table_load, on=['Scenario','Contingency']).sort_values(by='Branch Count', ascending=False).reset_index(drop=True)
df_load.head(10)

,Scenario,Contingency,Branches,Branch Count
0,"Solar = 50 MW, Hydro = 500 MW, LLS",BUS 151,"153-3006(1),154-3008(1),3001-3003(1),3001-3003...",8
1,"Solar = 100 MW, Hydro = 500 MW, LLS",BUS 151,"153-3006(1),154-3008(1),3001-3003(1),3001-3003...",8
2,"Solar = 100 MW, Hydro = 600 MW, LLS",BUS 151,"153-3006(1),154-3008(1),3001-3003(1),3001-3003...",8
3,"Solar = 0 MW, Hydro = 600 MW, HLS",BUS 153,"154-203(1),154-205(1),203-205(1),203-205(2)",4
4,"Solar = 0 MW, Hydro = 500 MW, HLS",SING OPN LIN 6 152-153(1),"154-203(1),154-205(1),203-205(1),203-205(2)",4
5,"Solar = 0 MW, Hydro = 500 MW, HLS",UNIT 101(1),"3001-3003(1),3001-3003(2),3003-3005(1),3003-30...",4
6,"Solar = 50 MW, Hydro = 600 MW, HLS",UNIT 101(1),"3001-3003(1),3001-3003(2),3003-3005(1),3003-30...",4
7,"Solar = 50 MW, Hydro = 600 MW, HLS",SING OPN LIN 6 152-153(1),"154-203(1),154-205(1),203-205(1),203-205(2)",4
8,"Solar = 50 MW, Hydro = 600 MW, HLS",SING OPN LIN 1 101-151(1),"3001-3003(1),3001-3003(2),3003-3005(1),3003-30...",4
9,"Solar = 0 MW, Hydro = 500 MW, RLS",SING OPN LIN 1 101-151(1),"3001-3003(1),3001-3003(2),3003-3005(1),3003-30...",4

Overload Count - Scenarios

In [15]:
overload_index = list(bran_overload['Scenario'].value_counts().index)
overload_counts = list(bran_overload['Scenario'].value_counts())
dict_ol_count = {
    'Scenario':overload_index,
    'Overload Counts':overload_counts
}
overload_conclusion  = pd.DataFrame(dict_ol_count)
overload_conclusion

                               Scenario  Overload Counts
0    Solar = 50 MW, Hydro = 500 MW, LLS               23
1    Solar = 50 MW, Hydro = 600 MW, HLS               22
2     Solar = 0 MW, Hydro = 600 MW, HLS               22
3     Solar = 0 MW, Hydro = 400 MW, RLS               21
4     Solar = 0 MW, Hydro = 600 MW, RLS               20
5   Solar = 100 MW, Hydro = 400 MW, RLS               20
6   Solar = 100 MW, Hydro = 500 MW, LLS               19
7     Solar = 0 MW, Hydro = 500 MW, HLS               18
8    Solar = 50 MW, Hydro = 500 MW, HLS               17
9     Solar = 0 MW, Hydro = 500 MW, LLS               17
10  Solar = 100 MW, Hydro = 600 MW, HLS               16
11    Solar = 0 MW, Hydro = 400 MW, HLS               16
12   Solar = 50 MW, Hydro = 400 MW, RLS               16
13   Solar = 50 MW, Hydro = 400 MW, HLS               15
14  Solar = 100 MW, Hydro = 600 MW, LLS               15
15   Solar = 50 MW, Hydro = 600 MW, RLS               15
16    Solar = 0 MW, Hydro = 500 MW, RLS               14
17    Solar = 0 MW, Hydro = 600 MW, LLS               13
18  Solar = 100 MW, Hydro = 500 MW, RLS               12
19    Solar = 0 MW, Hydro = 400 MW, LLS               12
20   Solar = 50 MW, Hydro = 600 MW, LLS               11
21  Solar = 100 MW, Hydro = 600 MW, RLS               11
22  Solar = 100 MW, Hydro = 400 MW, HLS               11
23  Solar = 100 MW, Hydro = 500 MW, HLS               10
24   Solar = 50 MW, Hydro = 500 MW, RLS               10
25   Solar = 50 MW, Hydro = 400 MW, LLS                4
26  Solar = 100 MW, Hydro = 400 MW, LLS                3

Overload Count - Branches

In [16]:
list_cont_load = list(bran_overload['Branch'].unique())
list_scen_count_cont = []
list_cont = []
list_scen_cont = []
for cont in list_cont_load:
    bran_load_cont = bran_overload[bran_overload['Branch'] == cont]
    
    no_scenload_cont = len(list(bran_load_cont['Scenario']))
    list_scen_count_cont.append(no_scenload_cont)
    list_ans_cont = list(bran_load_cont['Branch'].unique())
    list_ans_bran = list([[int(s) for s in m.split() if s.isdigit()] for m in bran_load_cont['Branch'].dropna().unique()])
    bran_new = [(str(s[0])+'-'+str(s[1])+'('+ str(s[2])+')') for s in list_ans_bran]
    ans_bran = ', '.join(bran_new)
    list_cont.append(ans_bran)
    ans_scen_cont = ', '.join(bran_load_cont['Scenario'].unique())
    list_scen_cont.append(ans_scen_cont)

dict_overload_bran_cont = {
                    'Branch': list_cont,
                    'Overload Count':list_scen_count_cont,
                    'Scenarios': list_scen_cont
                  
                }
summary_count_load_bran_scen= pd.DataFrame(dict_overload_bran_cont, columns=[ 'Branch','Overload Count']).sort_values(by = 'Overload Count', ascending=False).reset_index(drop=True)
summary_count_load_bran_scen

          Branch  Overload Count
0     154-203(1)              87
1   3001-3003(1)              51
2   3001-3003(2)              51
3     101-151(1)              44
4     203-205(1)              27
5     203-205(2)              27
6     154-205(1)              26
7   3003-3005(1)              23
8   3003-3005(2)              23
9     153-154(1)              16
10  3005-3006(1)               7
11   153-3006(1)               7
12    201-204(1)               4
13   154-3008(1)               3
14  3001-3011(1)               3
15    153-154(2)               2
16    153-154(3)               2

Overload Count - Contingencies

In [17]:
list_cont_load = list(bran_overload['Contingency'].unique())

list_scen_count_cont = []
list_cont = []
list_scen_cont = []
for cont in list_cont_load:
    bran_load_cont = bran_overload[bran_overload['Contingency'] == cont]
    
    no_scenload_cont = len(list(bran_load_cont['Scenario']))
    list_scen_count_cont.append(no_scenload_cont)
    list_ans_cont = list(bran_load_cont['Contingency'].unique())
    ans_bran = ', '.join(list_ans_cont)
    list_cont.append(ans_bran)
    ans_scen_cont = ', '.join(bran_load_cont['Scenario'].unique())
    list_scen_cont.append(ans_scen_cont)

dict_overload_bran_cont = {
                    'Contingency': list_cont,
                    'Overload Count':list_scen_count_cont,
                    'Scenarios': list_scen_cont
                  
                }
summary_overload_cont= pd.DataFrame(dict_overload_bran_cont, columns=[ 'Contingency','Overload Count']).sort_values(by = 'Overload Count', ascending=False).reset_index(drop= True)
summary_overload_cont

                     Contingency  Overload Count
0    SING OPN LIN   6 152-153(1)              68
1    SING OPN LIN   1 101-151(1)              64
2                    UNIT 101(1)              64
3                        BUS 153              46
4                        BUS 151              24
5    SING OPN LIN   2 102-151(1)              22
6                        BUS 205              22
7                    UNIT 102(1)              22
8                        BUS 203              18
9   SING OPN LIN   11 201-204(1)              17
10                       BUS 204              17
11                      BUS 3005               6
12  SING OPN LIN   20 205-206(1)               4
13                   UNIT 206(1)               4
14  SING OPN LIN   10 201-202(1)               3
15                       BUS 202               2